name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    name: Go test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Test
        run: go test ./...

  build:
    name: Build (${{ matrix.component }} / ${{ matrix.goos }})
    runs-on: ubuntu-latest
    needs: test
    strategy:
      fail-fast: false
      matrix:
        component: [client, server]
        goos: [linux, darwin, windows]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - name: Build
        env:
          GOOS: ${{ matrix.goos }}
          GOARCH: amd64
          CGO_ENABLED: 0
        run: go build -trimpath -ldflags "-s -w" ./cmd/${{ matrix.component }}

